<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="https://www.facebook.com/cijtlaquepaque/" target="_blank">
        <i class="icon ion-social-facebook"></i>
      </a>
    </div>
    <p class="copyright">Centro de Integración Juvenil 2020</p>
  </footer>
</div>
