@layout('layouts.master')
@section('content')
    <div class="container" style="margin: 65px;padding: 146px;">
      {{csrfField()}}
        <h1 class="text-center" style="padding: 0px;font-size: 202px;">FIN!</h1>
    </div>
@endsection
