@layout('layouts.master')
@section('content')

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-xl">
            <h1>
                Descargar cuestionario
            </h1>
        </div>
        <div class="col-sm-auto">
            <a class="btn btn-primary" type="button" style="background-color: rgb(66,86,108);" href='/files/Cuestionario.pdf'>Imprimir encuesta (PDF)</a>
        </div>
    </div>
</div>

@endsection