@layout('layouts.master')
@section('content')
    <div class="container text-center justify-content-center m-auto" style="margin: 0px;padding: 0px;height: 272px;">
        <h1>Estudiante</h1>
        <form>
            <input class="form-control form-control-lg text-input" type="text" placeholder="Ingresa la clave">
            <a class="btn btn-primary" style="margin: 20px;" role="button" href="{{route('questions', { page: 1 })}}">Ingresar</a>
        </form>
    </div>
@endsection
