@layout('layouts.master')
@section('content')
    <div class="container text-center justify-content-center m-auto" style="margin: 0px;padding: 0px;height: 272px;">
        <h1>Estudiante - Registro</h1>

        <form method="POST" action="">

            {{ csrfField()}}
        
        </form>
    
    
    </div>
@endsection