<!DOCTYPE html>
<html>
  <head>
    @component('components.head') 
    @endcomponent
    @section('title')
      <title>CIJ_System</title>
    @endsection
  </head>
  <body class="text-justify" style="height: 100%;" id="page-top">
    <header class="header">
      @section('header')
        @include('partials.header')
      @endsection
    </header>

    <div class="container">

        <div class="content">
            @!section('content')
        </div>
      </div>
      <div class="footer-basic">
        <footer>
          <a class="rounded scroll-to-top" href="#page-top">
          @component('components.footer') 
          @endcomponent
      </footer>
    </div>
  </body>
</html>